.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f5f5f5;
}

.meals-container {
  max-width: 880px;
  margin: 20px auto;
}

.meal-showcase {
  display: flex;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.meal-rater {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.card {
  max-width: 200px;
  margin: 0 10px;
}

.fa-star {
  color: darkgoldenrod;
  cursor: pointer;
}